*{
    background-color: black;
    color: white;
    margin: 0px;
    border: none;
}

body{
    height: 100%;
    width: 100%;
}

div#container{
    width: 600px;
    margin: 0 auto;
}

div.floater{
    position: absolute;
    top: 50%;
    height: 275px;
    margin-top: -137.5px;
}

header.header{
    margin: 0 auto;
    width: 600px;
    border: none;
}

header.header > div#himgCont
{
    height: 110px;
    background: url(../img/headingMenu-0-0.png) no-repeat,
     url(../img/headingMenu-1-0.png) no-repeat,
     url(../img/headingMenu-2-0.png) no-repeat,
     url(../img/headingMenu-3-0.png) no-repeat,
     url(../img/headingMenu-4-0.png) no-repeat;
     background-position: left, 125px, 250px, 375px, right;
    margin: 0 auto;
}

header.header > div#himgCont{
    /*BLUR*/
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(5px);
}
}


article.article > div#smile{
    height: 50px;
    width: 184px;
    background: transparent url(../img/sveZaVasOsmjeh.png) no-repeat;
    margin: 0 auto;
}

article.article > div#logo{
    height: 115px;
    width: 376px;
    background: transparent url(../img/mainLogo.png) no-repeat;
    margin: 0 auto;
}

footer {
    text-align: center;
}
